n8n.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1112,
        -16
      ],
      "id": "4182f86c-3680-4739-83d4-0c2f9a573b15",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1488,
        208
      ],
      "id": "a6bd96b5-339e-4e15-a70c-094cc401133d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "u0QOhfnsR3fJmXDS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1232,
        208
      ],
      "id": "8e05d375-3db9-47b3-b6b5-9fac9fd31546",
      "name": "Send a message in Gmail1",
      "webhookId": "50fc2d95-1823-4a3a-95dc-b7465e60f4dd",
      "credentials": {
        "gmailOAuth2": {
          "id": "IpRktb6ephuddaIW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -1104,
        208
      ],
      "id": "5b397335-2a82-4947-96cf-715ae80f97a1",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2160,
        236
      ],
      "id": "33897b41-e712-4283-9f47-0be0f57140da",
      "name": "Telegram Trigger",
      "webhookId": "36b3d2c7-9508-4319-bc4c-6ca871a993fe",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "gFqrqvMMuykchDgs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        88
      ],
      "id": "cc6a75da-58c0-471e-97e9-e96783d2109d",
      "name": "Send a text message",
      "webhookId": "c26e605a-841b-41f4-afce-9c44f365ab7d",
      "credentials": {
        "telegramApi": {
          "id": "gFqrqvMMuykchDgs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72e9a92d-f40d-4be9-ab3a-9c8b830eb579",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{Number($json.id_chat)}}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1712,
        236
      ],
      "id": "fe0cd8d4-c04d-405d-a9ee-723a97983ab4",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Nie poprawny id czatu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1048,
        384
      ],
      "id": "830bec18-e694-4c47-acf6-0b3ad014c890",
      "name": "Send a text message1",
      "webhookId": "ea8647e8-fcab-41db-9492-d5d3f3975dc0",
      "credentials": {
        "telegramApi": {
          "id": "gFqrqvMMuykchDgs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "r5iHFZ9vD734mOPl"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1936,
        236
      ],
      "id": "ab8f38b8-4bdb-4109-b93b-1509fd7a9a14",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "tomasz.jader@gmail.com",
          "mode": "list",
          "cachedResultName": "tomasz.jader@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -976,
        208
      ],
      "id": "6e818484-c5fc-4e57-b322-b1e7571a1d66",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Kif8MuBn1SYbgina",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1360,
        208
      ],
      "id": "a8cc7c05-bbbd-4267-a8bb-30817050c06c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "tomasz.jader@gmail.com",
          "mode": "list",
          "cachedResultName": "tomasz.jader@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -848,
        208
      ],
      "id": "3242144b-d7e8-4f55-a91d-c97e8989620f",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Kif8MuBn1SYbgina",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "task": "MDg4OTMyNzEwMzg5ODkyMDkwNzg6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -720,
        208
      ],
      "id": "2f909ea0-0fec-4e17-b064-d8e748a4d988",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "Ngrp8arRbsLNDafI",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://adam114-20114.wykr.es/mcp/o-mnie",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -592,
        208
      ],
      "id": "d00d90e6-55ac-48b5-af6d-cb7f7bd4efe1",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pM3G3PFMR7wOgagr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "o-mnie"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        -2160,
        712
      ],
      "id": "b0bc19df-2b93-4500-b117-19cb5f33b447",
      "name": "Personal MCP Memory Server",
      "webhookId": "8d4cc5fc-20b4-4419-ab10-daa72840f646",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pM3G3PFMR7wOgagr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1xkMUglT13ans4ERllOPdmCYxZglwT0nQ3rP8MVYgZrE"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -2152,
        936
      ],
      "id": "e93f4af1-550e-4107-836e-d0b73759a843",
      "name": "get_personal_profile",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "P0v7UOLHoeBzsugQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1xkMUglT13ans4ERllOPdmCYxZglwT0nQ3rP8MVYgZrE",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -2024,
        936
      ],
      "id": "c2d05fc0-2f4f-4e14-9183-99316d7e20e4",
      "name": "update_personal_profile",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "P0v7UOLHoeBzsugQ",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_personal_profile": {
      "ai_tool": [
        [
          {
            "node": "Personal MCP Memory Server",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_personal_profile": {
      "ai_tool": [
        [
          {
            "node": "Personal MCP Memory Server",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc1ba0345969f7228871df9e64b3b47e4f43ee33b19ce42717b44162e39dba6e"
  }
}
